:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0C0;
    --bot達o-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0%;
    padding: 0%;
}

.pricipal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__bot達o {
    background-color: var(--bot達o-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}

.bot達o_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}